<th:block th:fragment="navigation">
	<aside class="offcanvas offcanvas-start border-0 py-3 ps-3" data-bs-scroll="true" data-bs-backdrop="false" id="offcanvasScrolling">
		<div class="bg-dark bg-gradient h-100 rounded-3 shadow text-white position-relative overflow-hidden">
			<div class="offcanvas-header">
				<h5 class="offcanvas-title"><i class="fas fa-film"></i> Film Database</h5>
				<button type="button" class="btn-close d-sm-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<div class="offcanvas-body">
				<ul class="nav nav-pills flex-column">
					<li class="nav-item">
						<a class="nav-link text-white" href="/"> <i class="fas fa-folder-open"></i> HTTP Film Requests </a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white active" href="/rest"><i class="fab fa-soundcloud"></i> REST Film Requests</a>
					</li>
					<li class="nav-item">
						<hr />
					</li>
					<li class="nav-item">
						<a class="nav-link text-white" href="#" @click="showModal('searchModal')" @click.prevent>
							<i class="fas fa-search"></i> Search Films
						</a>
					</li>
				</ul>

				<p>Data Response Type</p>

				<div class="btn-group w-100">
					<input type="radio" class="btn-check" name="dataResponse" value="xml" id="xmlDataType" v-model="dataType" />
					<label class="btn btn-outline-light" for="xmlDataType">XML</label>
					<input type="radio" class="btn-check" name="dataResponse" value="json" id="jsonDataType" v-model="dataType" />
					<label class="btn btn-outline-light" for="jsonDataType">JSON</label>
					<input type="radio" class="btn-check" name="dataResponse" value="text" id="textDataType" v-model="dataType" />
					<label class="btn btn-outline-light" for="textDataType">TEXT</label>
				</div>
			</div>
			<div class="offcanvas-footer position-absolute bottom-0 w-100 p-3">
				<a
					href="#"
					class="btn btn-primary bg-gradient-primary w-100"
					@click="showModal('addFilmModal'), updateAddMethod = 'POST', clearFilm()"
					@click.prevent
				>
					Add Film
				</a>
			</div>
		</div>
	</aside>
</th:block>
